.mono--camera:before {
	background: url("mono-26f9b0fb.svg") 0 0 no-repeat;
	background-size: auto 1em;
}
.mono--mic:before {
	background: url("mono-26f9b0fb.svg") 50% 0 no-repeat;
	background-size: auto 1em;
}
.mono--tv:before {
	background: url("mono-26f9b0fb.svg") 100% 0 no-repeat;
	background-size: auto 1em;
}
